pre{
    color:navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    color: blue;
}